@import '@/scss/helpers/_helpers.scss';

.main{
  height: calc(100vh - 60px);
  padding: 18px 0 0 0;
  background: #f9fbff;
}
.warp{
  width: 1434px;
  height: 860px;
  margin: 0 auto;
  padding: 120px 0 0 0;
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px #F6EFEF;
  border-radius: 10px;
  box-sizing: border-box;
}
.stetp{
  width: 936px;
  margin: 0 auto;
}
.modctn{
  width: 558px;
  height: auto;
  margin: 0 auto;
}
.ultab{
  width: 100%;
  display: flex;
  border-bottom: solid 1px #e6eaf3;
  margin: 0 0 20px 0;
  li{
    width: 50%;
    font-size: 15px;
    color: #323232;
    text-align: center;
    padding: 0 0 7.5px 0;
    &.active{
      border-bottom: solid 2px #6393FF;
      cursor: pointer;
      span{
        background-image: linear-gradient(to right, #83c8ff, #3977fe);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
  }
}
.inputItem{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 32px;
  &:first-child{
    margin-top: 0;
  }
  &.error{
    input{
      color: #FF5C5B;
      border-color: #FF5C5B;
    }
    .errorTip{
      visibility: visible;
    }
  }
  &.sms{
    .errorTip{
      left: 0;
    }
  }
  .label{
    display: block;
    width: 112px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
  }
  input{
    flex: 1;
    height: 60px;
    padding-left: 16px;
    font-size: 20px;
    color: #333;
    background: #FBFBFB;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    &.smsCode{
      width: 558px;
    }
  }
  .errorTip{
    position: absolute;
    top: 64px;
    left: 112px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #FF5C5B;
    visibility: hidden;
    &:before{
      content: '';
      width: 14px;
      height: 14px;
      margin-right: 8px;
      background: url('~@/pages/modPassword/images/icon_error.png') no-repeat;
      background-size: 100%;
    }
  }
  .icon{
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
.phonenext{
  position: relative;
  margin: 0 0 30px 0;
}
.nextBtn{
  width: 430px;
  height: 68px;
  margin: 112px auto 0;
  line-height: 68px;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(to right, #3DA3F1, #116AED);
  border-radius: 6px;
  cursor: pointer;
  &.disabled{
    background: #D8D8D8;
    cursor: not-allowed;
  }
}
.next1{
  display: none;
  margin-top: 100px;
}
.next2{
  display: none;
  margin-top: 48px;
  .sendingInfo{
    margin-top: 48px;
    margin-bottom: -10px;
    line-height: 28px;
    font-size: 20px;
    .desc{
      margin-bottom: 2px;
      color: #323232;
    }
    .phone{
      color: #505C74;
    }
  }
}
.next3{
  display: none;
  margin: 100px 0 0 0;
  text-align: center;
}
.showd{
  display: block;
}

.codeset{
  position: absolute;
  right: 8px;
  width: 160px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  color: #fff;
  font-size: 20px;
  background: linear-gradient(134deg, #3DA3F1 0%, #116AED 100%);
  border-radius: 6px;
  cursor: pointer;
  &.disable {
    background: #D8D8D8;
    pointer-events: none;
  }
}
.next3text{
  font-size: 22px;
  text-align: center;
  color: #323232;
  line-height: 22px;
  margin: 17px 0 0 0;
  span{
    color:#1F77F1;
    cursor: pointer;
  }
}
.dialogWrapper{
  padding: 2px 24px 18px;
  .desc{
    color: #666;
    font-size: 14px;
  }
  .chatList{
    margin-top: 8px;
    .chatItem{
      display: flex;
      align-items: center;
      padding: 16px;
      &:nth-child(n + 2){
        border-top: 1px solid #F0F0F0;
      }
      .qqImg{
        width: 46px;
        height: 46px;
        margin-right: 8px;
      }
      .chatInfo{
        .chatName{
          line-height: 22px;
          color: #333;
          font-weight: 600;
        }
        .qqNo{
          line-height: 20px;
          color: #848CA6;
          font-size: 14px;
        }
      }
      .btnCopy{
        display: flex;
        align-items: center;
        margin-left: auto;
        cursor: pointer;
        img{
          width: 15px;
          height: 18px;
          margin-right: 4px;
        }
        span{
          color: #1F77F1;
          font-size: 16px;
        }
      }
    }
  }
}
