.container {
  width: 52px;
  height: 20px;
  line-height: 20px;
  background: $liveStatusButtonColor;
  border-radius: 2px;
  overflow: hidden;
}

.wrapper {
  padding-left: 22px;
  color: #fff;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  background: url("~@/assets/images/playing_icon.gif") no-repeat 2px center;
  background-size: 20px;
}