.chech1 {
  margin: 0 23px 0 0;
}
.chech1 .MuiFormControlLabel-root {
  margin: 0;
}
.chech1 .MuiCheckbox-colorPrimary.Mui-checked {
  color: #fff;
}
.chech1 .MuiSvgIcon-root {
  width: 14px;
  height: 14px;
}
.chech1 .MuiTypography-body1 {
  font-size: 12px;
  color: #2d2d2d;
  line-height: 1;
  margin: 0 0 0 3px;
}
.chech1 .MuiIconButton-root {
  padding: 0px;
}
.chech22 {
  margin: 0 72px 0 0;
}
.saishisele2 {
  margin: 0 16px 0 12px;
}
.MuiButton-endIcon {
  margin-left: 0;
}
.MuiDialogTitle-root {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5faff;
}
.MuiTabs-root{
  background-color: #f5faff;
}
.MuiDialogContent-root{
  border: none;
}