.container {
  position: relative;
  width: 16px;
  height: 16px;
  background: url("../images/checkbox_icon.png") no-repeat center #f4f5f8;
  background-size: 100% 100%;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;

  &.isActive {
    background-image: url("../images/checkbox_active_icon.png") !important;
    background-color: #fff !important;
  }
}