@import '@/scss/helpers/_helpers.scss';

.main {
  width: 100%;
  padding: 0;
  background-color: #f9fbff;
}

.liveright {
  margin: 0 25px 0 30px;
  padding: 25px 0 30px 0px;
}

.excgame {
  margin: 0 0 19px 0;
}

.exctext {
  font-family: PingFangSC;
  font-size: 26px;
  font-weight: 500;
  color: #464646;
  margin: 0 0 17px 0;
  line-height: 1;
}

.excul {
  &:after {
    clear: both;
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    line-height: 0;
    width: 0;
    height: 0;
  }

  li {
    // width: 20%;
    max-width: 400px;
    min-width: 400px;
    height: 181px;
    margin: 0 20px 20px 0;
  }
}

.mainli {
  width: 100%;
  height: 181px;
  // background-image: url('/static/images/live/live-gamebj.webp');
  box-shadow: $box_shadow;
  border-radius: $border_radius;
  overflow: hidden;
  background-size: 100% 100%;
  float: left;

  .maintitle {
    height: 36px;
    box-sizing: border-box;
    padding: 10px 10px 0 16px;
    font-size: 15.1px;
    color: #4c97ff;
    display: flex;
    // background-image: linear-gradient(to left,  #b0e8ff ,  rgba(96, 146, 255, 0.92));
    justify-content: space-between;
    background-color: rgba(40, 131, 255, .16);
  }

  &:last-child {
    margin: 0;
  }
}

.mainctn {
  display: flex;
  justify-content: space-between;
  padding: 31px 34px 0 34px;

  .left {
    width: 80px;
    text-align: center;
  }

  .eveimg {
    display: block;
    height: 46px;
    margin: 0 auto;
  }

  .eveimg2 {
    display: block;
    height: 46px;
    margin: 0 auto;
  }

  .text {
    height: 19px;
    margin: 5px 0 0 0;
    font-family: PingFangSC;
    font-size: 13px;
    color: #464646;
    cursor: pointer;
  }

  .vs {
    width: 38px;
    height: 29.2px;
    margin: 0 auto;
    font-family: PingFangSC;
    font-size: 27px;
    font-weight: 500;
    color: #5a5a5a;
    vertical-align: bottom;
    cursor: pointer;
  }

  .right {
    display: block;
  }
}

.exctwrap {
  width: 79px;
  text-align: center;
}

.exctBtn {
  margin: 13px 0 0 0;

  .exctBtn11 {
    width: 79px;
    height: 30px;
    text-align: center;
    background: url('/static/images/live/yuding.webp')
      no-repeat left top;
    background-size: 100% 100%;
    cursor: pointer;
    border: 0;
    outline: none;
    padding: 0 14px;
    box-sizing: border-box;

    &:after {
      clear: both;
      content: '.';
      display: block;
      overflow: hidden;
      visibility: hidden;
      line-height: 0;
      width: 0;
      height: 0;
    }
  }

  .exctBtniocn1 {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('/static/images/live/livetime.webp');
    background-size: 100% 100%;
    float: left;
  }

  .yuding {
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 500;
    background-image: linear-gradient(to right, #83c8ff, #3977fe);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    float: right;
  }

  .exctBtn22 {
    width: 79px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-image: url('/static/images/live/rectangle.webp');
    background-size: 100% 100%;
    cursor: pointer;
    border: 0;
    outline: none;

    .hot3 {
      height: 17px;
      position: relative;
      top: 3px;
    }
  }
}

.letter {
  margin: 0 0 35px 0;
}

.lettertext {
  font-family: PingFangSC;
  font-size: 26px;
  font-weight: 500;
  color: #464646;
  margin: 0 0 17px 0;
  line-height: 1;
}

// 精彩推荐
.letterUl {
  width: 100%;

  &:after {
    clear: both;
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    line-height: 0;
    width: 0;
    height: 0;
  }
}

.images {
  width: 264px;
  height: 140px;
  background-image: url(network($home + 'card-banner-img'));
  background-size: 100% 100%;
  border-radius: 10.8px 10.8px 0 0;
  margin: 0 0 11px 0;
  transition: all 0.6s;
  position: relative;
  cursor: pointer;

  .play {
    display: none;
    transition: all 0.6s;
  }

  &:hover {
    transform: scale(1.1);

    // filter: blur(1px);
    .play {
      display: block;
      height: 50px;
      position: absolute;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
      opacity: 1;
      transition: opacity 0.3s;
      transition-property: opacity;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0s;
    }
  }
}

.steam {
  width: 62px;
  height: 29px;
  background-image: url('/static/images/live/liverect.webp');
  background-size: 100% 100%;
  position: absolute;
  top: 9px;
  right: 10px;

  .steamplay {
    display: block;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 8px;
  }

  .steamtext {
    display: inline-block;
    color: #ffffff;
    margin: 0 0 0 5px;
    font-family: PingFangSC;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    top: 6px;
    right: 12px;
  }
}

.ouzhoubei {
  font-family: PingFangSC;
  font-size: 14.7px;
  font-weight: 500;
  color: #323232;
  padding: 0 0 0 8px;
  margin: 0 0 9px 0;
  text-align: left;
}

.people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  padding: 0 9px 0 8px;
  font-size: 12.7px;
  color: #505c74;
  box-sizing: border-box;

  .name {
    height: 26px;
    line-height: 26px;
    display: flex;
    align-items: center;
  }

  .touxiang {
    display: inline-block;
    width: 16px;
    height: 17px;
    margin: 4px 3px 0 0;
    background-image: url(network($home + 'heat'));
    background-size: 100% 100%;
  }

  .touxiangimg1 {
    display: block;
    height: 17px;
    margin: 0 3px 0 0;
  }

  .nubmer {
    height: 26px;
    line-height: 26px;
    display: flex;
    align-items: center;
  }

  .hotimg {
    display: inline-block;
    width: 15px;
    height: 17px;
    // background-image: url("/static/images/live/huo.webp");
    background-image: url(network($live + 'huo'));
    background-size: 100% 100%;
    margin: 0 6px 0 0;
  }
}

.alltabs {
  display: flex;
  margin: 0 0 20px 0;
}

.alltitle {
  font-family: PingFangSC;
  font-size: 26px;
  font-weight: 500;
  color: #464646;
  line-height: 1;
  margin: 0 35px 0 0;
}

.alltabs2 {
  display: flex;
  height: 27px;

  li {
    width: 51px;
    height: 27px;
    padding: 0;
    margin: 0 31px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #505c74;

    &.allaction2 {
      background-image: url('/static/images/live/kuang.webp');
      background-size: 100% 100%;

      a {
        background-image: linear-gradient(to right, #83c8ff, #3977fe);
        background-clip: text;
        color: transparent;
      }
     &.all {
      border-bottom: 5px solid;
      border-image: linear-gradient(to right, #83c8ff, #3977fe) 10 15;
    }
    }
  }

  a {
    display: inline-block;
    font-family: PingFangSC;
    font-size: 16px;
    transition: color 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to right, #83c8ff, #3977fe);
      background-clip: text;
      color: transparent;
    }
  }
  .all {
    font-family: PingFangSC;
    font-size: 26px;
    font-weight: 500;
    color: #464646;
    line-height: 1;
    margin: 0 31px 0 0;
    background-image: none !important;
    width: 55px;
    padding-bottom: 5px;
    a {
      font-size: 26px;
      font-weight: 500;
      color: #464646;
    }
  }
}

.qiubiaosi {
  width: 36px;
  height: 15px;
  margin: 0 0 0 10px;
  border-radius: 4px;
  background-color: rgba(28, 99, 255, 0.09);
  font-family: PingFangSC;
  font-size: 11px;
  color: #91b4ff;
  text-align: center;
  line-height: 15px;
  cursor: pointer;
}

.mysubzbo {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.exctitle1 {
  display: flex;
  margin: 0 0 17px 0;
}

.exctext11 {
  font-family: PingFangSC;
  font-size: 26px;
  font-weight: 500;
  color: #464646;
  line-height: 1;
  margin: 0 40px 0 0;
}

.zuichang {
  display: flex;
  align-items: center;
}

.zuichaicon {
  display: inline-block;
  width: 15px;
  height: 17px;
  background-image: url(network($live + 'huo'));
  background-size: 100% 100%;
  margin: 0 5px 0 0;
}

.zuichatext {
  font-size: 11px;
  letter-spacing: 0;
  color: #ff2500;
  cursor: pointer;
}

.zuichaborder {
  height: 22px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 8px;
}

.zuihoticon {
  display: inline-block;
  width: 15px;
  height: 17px;
  background-image: url(network($live + 'huo'));
  background-size: 100% 100%;
  margin: 0 5px 0 0;
}

.zuihottext {
  font-size: 11px;
  letter-spacing: 0;
  color: #999999;
  cursor: pointer;
}
.zhibozhong {
  color: #fff;
}
.jump {
  color: #ff5b34;
  cursor: pointer;
}
