.container {
  padding: 24px 0;
  margin: 0 20px;
  text-align: center;
  border-top: 1px solid #E6EAF3;
}

.link {
  display: inline-flex;
  align-items: center;
  color: #2C2F57;
  font-size: 14px;
  cursor: pointer;
}

.icon {
  margin-left: 6px;
  color: #2C2F57;
  font-size: 10px;
  transform: rotate(90deg);
}