.container {
  display: inline-block;
  margin-right: 2px;
  width: 36px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background: $buttonActiveBackground;
  vertical-align: middle;
}