.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.title {
  text-align: center;
  font-size: 28px;
  color: #ccc;
}

.list {
  width: 620px;
}