@import '@/scss/helpers/_helpers.scss';

.wrap{
  padding: 45px 0 46px 30px;
}
.roomtab{
  display: flex;
  li{
    width: 141px;
    height: 51px;
    background-color: #f2f6ff;
    box-sizing: border-box;
    font-size: 16px;
    color: #5a5a5a;
    text-align: center;
    line-height: 49px;
    cursor: pointer;
    margin: 0 1px 0 0;
    &.active{
      background-image: url(network($user + 'room-Rectangle'));
      background-size: 100% 100%;
      span{
        display: inline-block;
        font-size: 16px;
        background-image: linear-gradient(to right,#83c8ff, #3977fe);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
  }

}

.ctn1{
  width: 1084px;
  height: 763px;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 0 0 0 26px;
  box-sizing: border-box;
}
.titlectn{
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #5f5f5f;
  span{
    color: #4895ff;
  }
}
.addroom{
  width: 82px;
    height: 29px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: linear-gradient(to right, #83c8ff, #3977fe);
    text-align: center;
    line-height: 29px;
    color: #ffffff;

}
.roomtable{
  border-collapse: separate;
  border-spacing: 0;
  border: solid 0.8px #ededed;
  box-sizing: border-box;
  thead{
    th{
      width: 64px;
       height: 37px;
      font-size: 12.5px;
      color: #ffffff;
      background-color: #5697ff;
      border-right: 1px solid #ededed;
      &:nth-child(2){
        width: 135px;
      }
      &:nth-child(3){
        width: 140px;
      }
      &:nth-child(4){
        width: 229px;
      }
      &:nth-child(5){
        width: 176px;
        border-right:none;
      }
    }
  }
  tbody{
    tr{
      &:last-child{
        td{border-bottom:0}
      }
      td{
        height: 37px;
        text-align: center;
        font-size: 12.5px;
        color: #8b93a3;
        border-right: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        &:last-child{
          border-right: none;
        }
      }
    }
  }
}

.ctn2{
  padding: 19px 0 0 26px;
  width: 1084px;
  height: 763px;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  box-sizing: border-box;
}
.jingyanset{
  display: flex;
  margin: 0 0 25px 0;
  .yhzh{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #5f5f5f;
  }
}
.zhanghu{
  width: 130px;
  height: 38px;
  position: relative;
  margin: 0 12px 0 5px;
  .zhinput{
    width: 130px;
    height: 38px;
    border-radius: 4px;
    border: solid 1px #e6eaf3;
    background-color: #ffffff;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .zhanghuerror{
    position: absolute;
    top: 40px;
    left: 3px;
    color: brown;
    font-size: 13px;
    display: none;
  }
}
.fysc{
  width: 130px;
  height: 38px;
  border-radius: 4px;
  border: solid 1px #e6eaf3;
  box-sizing: border-box;
  margin: 0 12px 0 5px;
}
.addfangguang{
  width: 110px;
  height: 37px;
  border: 1px solid #4895ff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  outline: none;
  background: transparent;
  cursor: pointer;
  span{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(network($user + 'jia'));
    background-size: 100% 100%;
    margin: 0 9px 0 0;
  }
  p{
    font-size: 15px;
    line-height: 1;
    background-image: linear-gradient(to right,#4ab9fe, #4895ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
.jingyantables{
  border-collapse: separate;
  border-spacing: 0;
  border: solid 0.8px #ededed;
  box-sizing: border-box;
  thead{
    th{
      width: 50px;
       height: 37px;
      font-size: 12.5px;
      color: #ffffff;
      background-color: #5697ff;
      border-right: 1px solid #ededed;
      &:nth-child(2){
        width: 126px;
      }
      &:nth-child(3){
        width: 108px;
      }
      &:nth-child(4){
        width: 180px;
      }
      &:nth-child(5){
        width: 145px;
      }
      &:nth-child(6){
        width: 104px;
      }
      &:nth-child(7){
        width: 125px;
      }
      &:nth-child(8){
        width: 124px;
        border-right:none;
      }
    }
  }
  tbody{
    tr{
      &:last-child{
        td{border-bottom:0}
      }
      td{
        height: 37px;
        text-align: center;
        font-size: 12.5px;
        color: #8b93a3;
        border-right: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        &:last-child{
          border-right: none;
        }
      }
    }
  }  
}


// 弹窗
.dailogTitle{
  text-align: center;
  font-size: 17px;
  color: #464646;
}
.dailogBody{
  width: 373px;
  padding: 29px 13px 40px 31px;
  box-sizing: border-box;
}
.roomnc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 22px 0;
  position: relative;
  .roomncpp{
    font-size: 15px;
    color: #323232;
  }
  .roominput{
    width: 250px;
    height: 38px;
    position: relative;
  }
  input{
    width: 100%;
    height: 38px;
    border-radius: 4px;
    border: solid 1px #e6eaf3;
    background-color: #ffffff;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 13px;
  }
  .error{
    font-size: 10px;
    color: #f63838;
    line-height: 1;
    position: absolute;
    top: 40px;
    left: 0px;
  }
}
.emailbtn{
  display: block;
  width: 180px;
  height: 43px;
  background-image: url(network($user + 'roombtn'));
  background-size: 100% 100%;
  font-size: 15px;
  color: #ffffff;
  line-height: 43px;
  text-align: center;
  border: 0;
  outline: none;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 43px;
}
.userclose{
  width: 14px;
  height: 14px;
  background-image: url(network($user + '11close'));
  background-size: 100% 100%;
}

// 新增禁言
.dailogBody2{
  width: 373px;
  padding: 29px 30px 60px 30px;
  box-sizing: border-box;
}
.ningchen{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 22px 0;
  position: relative;
  .text1{
    font-size: 15px;
    color: #323232;
  }
  .zhanghu112{
    width: 230px;
    height: 38px;
    position: relative;
    // border-radius: 4px;
    // border: solid 1px #e6eaf3;
    // background-color: #ffffff;
    // padding: 0 10px;
    // box-sizing: border-box;
    // font-size: 13px;
  }
  .error{
    font-size: 10px;
    color: #f63838;
    line-height: 1;
    position: absolute;
    top: 40px;
    left: 80px;
  }
  .jytime{
    width: 230px;
    height: 38px;
    border-radius: 4px;
    border: solid 1px #e6eaf3;
    &:hover{
      border: solid 1px #40a9ff;
    }
  }
}
.jybtnctn{
  display: flex;
  .jinyanbtn{
    display: block;
    width: 136px;
    height: 45px;
    background-image: url(network($user + 'roomjinyan'));
    background-size: 100% 100%;
    font-size: 18px;
    color: #ffffff;
    line-height: 43px;
    text-align: center;
    border: 0;
    outline: none;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
  }
}
.chexiao{
  display: inline-block;
  font-size: 12.5px;
  text-align: center;
  color: #8b93a3;
  cursor: pointer;
}
.chaxun{
  width: 81px;
  height: 36px;
  border-radius: 3px;
  background-image: linear-gradient(to right, #83c8ff, #3977fe);
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 36px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.jiechu{
  font-size: 12px;
  &.colorfalse{
    color: #686868;
  }
  &.colorActive{
    color: #5697ff;
    cursor: pointer;
  }
}

